[Unit]
Description=tileserver-gl
After=network.target

[Service]
After=tileserver-gl.service
WorkingDirectory=/var/www/mapbh
ExecStart=tileserver-gl -c /var/www/mapbh/tile-config.json
User=root
Restart=on-failure

[Install]
WantedBy=multi-user.target
